@import url("https://fonts.googleapis.com/css?family=Lato|Staatliches");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

/* Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Staatliches", cursive;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5rem;
}

i {
  margin-right: 1rem;
}

.card {
  background: #ccc;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Staatliches", cursive;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(77, 44, 23);
  border-bottom: 5px solid lightblue;
  position: sticky;
  top: 0;
}

.navbar h2 {
  align-self: center;
  color: #f4f4f4;
  font-size: 2rem;
}

.navbar h2 span {
  font-family: "Cinzel", serif;
  font-family: "Rock Salt", cursive;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li a {
  padding: 1rem;
  display: block;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar ul li a:hover {
  background-color: #664117;
  color: ffc;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 2rem;
}

.history,
.tournaments,
.tournaments-1,
.tournaments-2 {
  padding: 3rem;
  background-color: #eee;
}

.container h1 {
  margin-bottom: 1rem;
}

.intro .item-1 h1 span {
  color: lightgreen;
  font-size: 7rem;
}

.item-1 {
  background: url("./img/astralis_code.jpeg") no-repeat center center/cover;
  height: 600px;
  border-bottom: 5px solid #664117;
  margin-bottom: 2rem;
}

.item-1 h1 {
  padding-top: 300px;
  color: #fff;
  text-align: center;
  align-items: center;
  font-size: 5rem;
}

.item-1 img {
  display: inline-block;
  width: 100%;
  z-index: -1;
}

footer h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #333;
  padding: 1rem;
  text-align: center;
  color: whitesmoke;
  padding: 2rem;
}

#ranking {
  font-family: "Staatliches", cursive;
  border-collapse: collapse;
  width: 100%;
}

#ranking td,
#ranking th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 2rem;
}

#ranking tr:nth-child(even) {
  background-color: #f2f2f2;
  color: #fd5061;
}
#ranking tr:nth-child(odd) {
  background-color: #f2f2f2;
  color: #003cffca;
}

#ranking tr:hover {
  background-color: #ddd;
}

#ranking th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 2rem;
  text-align: center;
  background-color: var(--success-color);
  color: rgb(17, 4, 4);
}
